.chessboard {
    display: block;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 600px;
    border: 2px solid black;
}

* {
    box-sizing: border-box;
}

.chessboardRow {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    aspect-ratio: 1 / 1;
    background-color: #f0d9b5;
}

.square.black {
    background-color: #b58863;
}